
<ion-view view-title="Categorias">
  <ion-content class="padding" style='background-image: url("img/background.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
  
   
<div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="expres" placeholder="Pesquisa" >
          </label> 
        </div>
  <ion-list>

      <ion-item 
              class="item-icon-right my-menu item-text-wrap" 
              ng-repeat="nome in categorias | filter: expres | orderBy:'strNome'" 
              ng-if="nome.strNome != ''"
              href="#/tab/categorias/vercadastro/{{nome.id}}*{{cidade}}"
              id="{{nome.style}}"> 
                      
        <h2  ng-if="nome.destaque != 'sim'">{{nome.strNome}}</h2>
        <p  ng-if="nome.destaque != 'sim'">{{nome.strTelefone1}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      
</ion-list> 

  </ion-content>

    
</ion-view>
