
<ion-view view-title="Configurações">
  <ion-content class="padding" style='background-image: url("img/background.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
    <center><img src="img/banner_ddd37.png" width="30%"></center>

    <div class="list">

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-flag"></i>
        Quem Somos
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-paper-airplane"></i>
        Entre em Contato
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-cart"></i>
        Anuncie Aqui
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-document-text"></i>
        Termos de Uso
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-android-favorite"></i>
        Favoritos
        <i class="icon ion-chevron-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-edit"></i>
        Alterar Cidade
        <i class="icon ion-chevron-right"></i>
      </a> 
</div>
<center><img src="img/banner_neolig.png" width="20%"></center>
</div>

  </ion-content>
</ion-view>
