
<ion-view view-title="Contato">
  <ion-content class="padding" style='background-image: url("img/background.jpg"); width:100%; height: 100%; background-size: 100% 100%;'> 
   <div class="card">
  		<div class="item item-text-wrap">
  			<h3>Dê sua sugestão e/ou crítica, sempre pensando em crescer e ser útil a você e sua família</h3>
  		</div>
   </div>


    <div class="card">
  		<div class="item item-text-wrap">

  			
 <form method="post" ng-submit="submit(contactform, formData)" name="contactform" role="form">
 	

		    <div class="list">
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Nome</span>
		    <input type="text" placeholder="" ng-model="formData.nome">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Telefone</span>
		    <input type="number" placeholder="" ng-model="formData.telefone">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Email</span>
		    <input type="text" placeholder="" ng-model="formData.email">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Cidade</span>
		    <input type="text" placeholder="" ng-model="formData.cidade">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Mensagem</span>
		   <textarea ng-model="formData.mensagem"></textarea>
		  </label>

		  <button class="button button-block button-positive">
			  Enviar
			</button>
		</form>
		</div>
	 	</div>
	 </div>

  </ion-content>
</ion-view>
