
<ion-view view-title="{{cidadeSelecionada}}">
  <ion-content class="padding" style='background-image: url("img/background.jpg"); width:100%; height: 100%; background-size: 100% 100%;'>
   
 
  <Br>  <Br>

  <Br>
  
<ion-list>

      <ion-item 
              class="item-icon-right my-menu item-text-wrap" 
              ng-repeat="nome in registros | orderBy:'-destaque'" 
              href="#/tab/pesquisas/resultado/{{nome.id}}*{{mudastring(nome.strNome)}}*{{nome.strTelefone1}}*{{nome.strTelefone2}}*{{nome.strTelefone3}}*{{nome.strEndereco}}*{{nome.pic}}*{{nome.fotosadicional}}*{{nome.facebook}}*{{nome.site}}"
              id="{{nome.style}}"> 

     
      <img ng-if="nome.destaque == 'sim'" ng-src="http://www.ddd37.com.br/fotos/registros/{{nome.pic}}" style="margin-left: 20px;" height="100px" width="100%">
     
 
        <h2  ng-if="nome.destaque != 'sim'">{{nome.strNome}}</h2>
        <p  ng-if="nome.destaque != 'sim'">{{nome.strTelefone1}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
     
      </ion-item>
      
</ion-list> 

 
<p ng-repeat="banner in BannersCidade" ng-show="banner">
  <Br>
<img src="http://www.ddd37.com.br/fotos/slide_ini/{{banner.id}}_0.jpg" width="100%">
</p>

<Br><Br><Br>
<div class="tabs tabs-positive tabs-icon-top">
  <a class="tab-item" href="#/tab/pesquisas/uteis/{{cidadeSelecionada}}">
    <i class="icon ion-android-bulb"></i>
    Úteis
  </a>
  <a class="tab-item" href="#/tab/pesquisas/categorias/{{cidadeSelecionada}}">
    <i class="icon ion-ios-paper"></i>
    Categorias
  </a>
  <a class="tab-item" href="#/tab/pesquisas/emergencia/{{cidadeSelecionada}}">
    <i class="icon ion-medkit"></i>
    Emergencia
  </a>
</div>

  </ion-content>
    <div class="fixed-outside">
        <div class="bar bar-header item-input-inset" style="height: 70px;">
          <label class="item-input-wrapper" style="height: 60px;">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" ng-model="expres" placeholder="Pesquisa" style="height: 60px;">
          </label> 
          <a class="button button-icon icon ion-search" ng-click="pesquisar(expres)"></a>
</div>
    </div>

</ion-view>
