
<ion-view view-title="Quem Somos">
  <ion-content class="padding" style='background-image: url("img/background.jpg"); width:100%; height: 100%; background-size: 100% 100%;'> 

  <div class="card">
  <div class="item item-text-wrap">
 <center><img src="img/banner_ddd37.png" width="30%"></center><Br>
&nbsp;&nbsp;&nbsp;O ddd37 agradece por instalar o maior e melhor aplicativo comercial
do Centro-Oeste das Minas Gerais. <Br><Br>

&nbsp;&nbsp;&nbsp;Agora na palma da sua mão você encontra as melhores empresas, telefones comerciais e residenciais,
prêmios, ofertas, sorteios e eventos de Samonte, Lagoa da Prata, Divinópolis e região.<Br><Br>

&nbsp;&nbsp;&nbsp;Com nosso aplicativo você busca serviços, profissionais, produtos e
eventos sempre atualizados em tempo real, busca por categorias,
telefones de emergência, discagem por um só toque.<Br><Br>

&nbsp;&nbsp;&nbsp;Pensando agilidade o ddd37 lhe ajuda a encontrar os melhores
profissionais e as melhores empresas de Samonte e região.<Br>

&nbsp;&nbsp;&nbsp; 
 <a href="#/tab/configuracoes/contato" class="button button-block button-positive button-dark">Entre em contato</a>
 Fale conosco, dê sua sugestão e/ou<Br>

crítica, sempre pensando em crescer e ser útil a você e sua familia.<Br><Br>
<b>Equipe ddd37</b>

</div></div>

  </ion-content>
</ion-view>
