
<ion-view view-title="Anuncie">
   <ion-content  style='background-image: url("img/background.jpg"); width:100%; height: 100%; background-size: 100% 100%;' class="padding">
     
    
    <div class="row">
      <div class="col"><center><a href="#/tab/pesquisas/cidade"><img width="95" height="95" src="img/ic_pesquisa.png"/></a></center></div>
      <div class="col"><center><a href="#/tab/menuddd"><img width="95" height="95" src="img/ic_ddd37.png"/></a></center></div>
    </div>
    <Br><Br>
    <div class="row">
      <div class="col"><center><a href="#/tab/fastfood"><img width="95" height="95" src="img/ic_fastfood.png"/></a></center></div>
      <div class="col"><center><a href="#/tab/curtaeganhe"><img width="95" height="95" src="img/ic_curta.png"/></a></center></div>
    </div>
    <Br><Br>
    <div class="row">
      <div class="col"><center><a href="#/tab/eventos"><img width="95" height="95" src="img/ic_eventos.png"/></a></center></div>
      <div class="col"><center><a href="#/tab/classificados"><img width="95" height="95" src="img/ic_classificados.png"/></a></center></div>
    </div>

  </ion-content>
</ion-view>
