<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->


<ion-tabs class="tabs-positive tabs-top tabs-icon-only slide-left-right tabs-item-hide">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

   <ion-tab title="Pesqsuisa" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/pesquisas">
    <ion-nav-view name="tab-pesquisas"></ion-nav-view>
  </ion-tab>

   <ion-tab title="Configuracoes" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/configuracoes">
    <ion-nav-view name="tab-configuracoes"></ion-nav-view>
  </ion-tab>

   <ion-tab title="Fastfood" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/fastfood">
    <ion-nav-view name="tab-fastfood"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Eventos" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/eventos">
    <ion-nav-view name="tab-eventos"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Classificados" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/classificados">
    <ion-nav-view name="tab-classificados"></ion-nav-view>
  </ion-tab>

<ion-tab title="Anuncie" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/anuncie">
    <ion-nav-view name="tab-anuncie"></ion-nav-view>
  </ion-tab>

<ion-tab title="Artemaiz" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/artemaiz">
    <ion-nav-view name="tab-artemaiz"></ion-nav-view>
  </ion-tab>

  <ion-tab title="facebook" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/facebook">
    <ion-nav-view name="tab-facebook"></ion-nav-view>
  </ion-tab>

  <ion-tab title="whatsapp" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/whatsapp">
    <ion-nav-view name="tab-whatsapp"></ion-nav-view>
  </ion-tab>

  <ion-tab title="aciasam" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/aciasam">
    <ion-nav-view name="tab-aciasam"></ion-nav-view>
  </ion-tab>

  <ion-tab title="orgaospublicos" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/orgaospublicos">
    <ion-nav-view name="tab-orgaospublicos"></ion-nav-view>
  </ion-tab>
 
</ion-tabs>
