
<ion-view view-title="Termos de Uso">
  <ion-content class="padding" style='background-image: url("img/background.jpg"); width:100%; height: 100%; background-size: 100% 100%;'> 

<div class="card">
  <div class="item item-text-wrap">
		<h2>Termos de Serviço do ddd37</h2>
		<h4>14 de março de 2015</h4>
  </div>
 </div>

  <div class="card">
  <div class="item item-text-wrap" style="text-align: justify;">
 
<b>Termos aplicáveis.</b><br>
<br>
Agradecemos por utilizar o aplicativo ddd37. <Br>
<Br>
&nbsp;&nbsp;&nbsp;A navegação e consulta pública deste aplicativo/site se sujeita aos termos e condições abaixo, se de alguma forma não concorda com os termos do serviço, ou caso não entenda os termos ou não aceite partes deles, o usuário não poderá utilizar o aplicativo ddd37.<Br>
<Br>
&nbsp;&nbsp;&nbsp;Não é permitida a cópia parcial ou integral deste sem autorização por escrita da empresa (entre em contato pelo formulário), contrato de cessão onerosa de relação de assinantes, para fins de catálogo telefônico junto à Telemar Norte Leste S/A.<Br>
<Br>
&nbsp;&nbsp;&nbsp;O ddd37 não garante e não se responsabiliza por conteúdos e promoções/eventos aqui divulgados.<Br>
<Br>
&nbsp;&nbsp;&nbsp;O ddd37 não garante que o conteúdo, as imagens e materiais contidos, utilizados e promoções oferecidos neste aplicativo estejam precisamente atualizados ou completos, e não se responsabiliza por qualquer promoções/eventos aqui divulgados que possam causar  danos por eventuais erros de conteúdo ou falha de informação.<Br>
<Br>
&nbsp;&nbsp;&nbsp;O ddd37, seus diretores ou funcionários em nenhuma circunstância, são responsáveis por informações, promoções e eventos aqui divulgados, por quaisquer danos diretos ou indiretos, por perda, incapacidade de uso por qualquer parte, vírus ou falha na informação, erros e atualizações de dados.<Br>
<Br>
&nbsp;&nbsp;&nbsp;O conteúdo será atualizado automaticamente, basta aceitar as atualizações em seu dispositivo.
Agradecemos e aproveitem.<Br>

</div></div>

  </ion-content>
</ion-view>
