
<ion-view view-title="Whatsapp">
  <ion-content class="padding" style='background-image: url("img/background.jpg"); width:100%; height: 100%; background-size: 100% 100%;'> 
    

    	<div class="card">
  <div class="item item-text-wrap">
   <center>
     <a onclick="plugins.socialsharing.shareViaWhatsApp('Message via WhatsApp', null /* img */, null /* url */, function() {console.log('compartilha')}, function(errormsg){alert(errormsg)})">
                <img ng-src="img/whats-curtir.png">
                <h3>CURTA NOSSO SITE NO SEU WHATSAPP</h3>
            </a>
    </center>
  </div>
</div>
   

  </ion-content>
</ion-view>
